body {
    background-color: #2b2b2b;
    font-family: 'Open Sans', sans-serif;
}
header {
	position: fixed;
    top: 0;
    left: 0;
    width: 50px;
    height: 100%;
    z-index: 2;
    -moz-transition: .5s;
    -o-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;

	background-color: #2b2b2b;
}
header a {
	color: #eee;
}
header a:hover {
	color: #f27609;
	background-color: #2b2b2b;
}
i {
	font-size: 20px;
}
.nav-link {
	padding: .5rem 0.8rem;
}
.link-active {
	color: #f27609;
	background-color: #333;
	border-left: 4px solid #f27609;
}
.link-active i {
	margin-left: -5px;
	color: #f27609;
}
.ul-menu {
	list-style-type: none;
	margin-top: 40px;
}
.li-ul-menu {
	margin-left: -40px;
}
#nav-home, #nav-about, #nav-portfolio, #nav-contacts  {
	position: relative;
  -webkit-animation-name: nav-menu; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  -webkit-animation-delay: 2s; /* Safari 4.0 - 8.0 */
  animation-name: nav-menu;
  animation-duration: 4s;
  animation-delay: -2s;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes nav-menu {
  0%   {opacity: 0;}
  50%  {opacity: 0;}
  100% {opacity: 1;}
}
/* Standard syntax */
@keyframes nav-menu {
  0%   {opacity: 0;}
  50%  {opacity: 0;}
  100% {opacity: 1;}
}
.pages {
    position: fixed;
    left: 50px;
    width: calc(100% - 50px);
    height: 100%;
    -moz-transition: .5s;
    -o-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
}
.pages .sub-pages {
    position: absolute;
    margin: 30px auto;
    left: 0;
    right: 0;
	width: calc(100% - 30px);
    height: calc(100% - 40px);
    max-width: 1240px;
}
.pages .sub-pages .section {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9;
}
.pages .sub-pages .section.active {
    opacity: 1;
    z-index: 10;
}
#home {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background: url(../img/main_bg_.jpg);
    background-repeat: no-repeat;
    -moz-transition: .5s;
    -o-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
}
#home .center {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
    padding-left: 12%;
    position: relative;
    z-index: 2;
}
#home .center .foto-perfil-desktop{
    vertical-align: middle;
    display: table-cell;
}
#home .center .foto-perfil-desktop img{
	border-radius: 50%;
}
#home .center .foto-perfil-desktop img {
  position: relative;
  -webkit-animation-name: foto-perfil-desktop; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  -webkit-animation-delay: 2s; /* Safari 4.0 - 8.0 */
  animation-name: foto-perfil-desktop;
  animation-duration: 3s;
  animation-delay: -2s;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes foto-perfil-desktop {
  0%   {left:0px;}
  50%  {left:500px;}
  100% {left:0px;}
}
/* Standard syntax */
@keyframes foto-perfil-desktop {
  0%   {left:0px;}
  50%  {left:100px;}
  100% {left:0px;}
}
#home .center .text-vertical {
    display: table-cell;
    vertical-align: middle;
}
#home .center .text-vertical h2{
	font-weight: bold;
	font-size: 60px;
	color: #eee;
}
#home .center .text-vertical span{
	font-weight: normal;
	font-size: 20px;
	color: #f27609;
}
#home .center .text-vertical {
  position: relative;
  -webkit-animation-name: textvertical; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  -webkit-animation-delay: 2s; /* Safari 4.0 - 8.0 */
  animation-name: textvertical;
  animation-duration: 4s;
  animation-delay: -2s;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes textvertical {
  0%   {opacity: 0;}
  25%   {opacity: 0;}
  50%  {opacity: 0;}
  100% {opacity: 1;}
}
/* Standard syntax */
@keyframes textvertical {
  0%   {opacity: 0;}
  25%   {opacity: 0;}
  50%  {opacity: 0;}
  100% {opacity: 1;}
}
.typed-cursor {
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
            animation: blink 0.7s infinite;
}
@keyframes blink {
    0%, 100% { opacity:1 }
    50%      { opacity:0 }
}
@-webkit-keyframes blink {
    0%, 100% { opacity:1 }
    50%      { opacity:0 }
}
#about .center {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
    margin-top: -10px;
    margin-bottom: -30px;
    position: relative;
    z-index: 2;
}
#about .center .conteudo-about-me {
	padding: 50px;
	display: block;
	opacity: 0;
	background-color: #eee;
	margin-top: 10px;
	height: 100%;
	overflow-x: hidden!important;
    overflow-y: scroll;
}
#about .center .conteudo-about-me h2 {
	text-align: center;
	color: rgba(242, 118, 9,.1);
	font-weight: bold;
	font-size: 100px;
    line-height: 120px;
}
#about .center .conteudo-about-me h4 {
	color: #2b2b2b;
	font-weight: normal;
	font-size: 19px;
    text-align: center;
    line-height: 24px;
    margin-top: -43px;
}
#about .center .conteudo-about-me .quemsou, #about .center .conteudo-about-me .oquefaco {
	color: #F27609;
	font-weight: bold;
}
#about .center .conteudo-about-me .botao-about-me {
    margin-top: 50px;
    text-align: center;
}
#about .center .conteudo-about-me a {
	color: #f27609;
	text-decoration: none;
}
#about .center .conteudo-about-me a:hover {
	color: #eee;
	background-color: #f27609;
}
#about .center .conteudo-about-me .botao {
	border: 1px solid #f27609;
	border-radius: 30px;
	padding: 15px;
}
#portfolio .center {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
    margin-top: -10px;
    margin-bottom: -30px;
    position: relative;
    z-index: 2;
}
#portfolio .center .conteudo-portfolio {
	padding: 50px;
	display: block;
	opacity: 0;
	background-color: #eee;
	margin-top: 10px;
	height: 100%;
	overflow-x: hidden!important;
    overflow-y: scroll;
}
#portfolio .center .conteudo-portfolio h2 {
	text-align: center;
	color: rgba(242, 118, 9,.1);
	font-weight: bold;
	font-size: 100px;
    line-height: 120px;
}
#portfolio .center .conteudo-portfolio h4 {
	color: #2b2b2b;
	font-weight: normal;
	font-size: 19px;
    text-align: center;
    line-height: 24px;
    margin-top: -43px;
}
#contacts .center {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
    margin-top: -10px;
    margin-bottom: -30px;
    position: relative;
    z-index: 2;
}
#contacts .center .conteudo-contacts {
	padding: 50px;
	display: block;
	opacity: 0;
	background-color: #eee;
	margin-top: 10px;
	height: 100%;
	overflow-x: hidden!important;
    overflow-y: scroll;
}
#contacts .center .conteudo-contacts h2 {
	text-align: center;
	color: rgba(242, 118, 9,.1);
	font-weight: bold;
	font-size: 100px;
    line-height: 120px;
}
#contacts .center .conteudo-contacts h4 {
	color: #2b2b2b;
	font-weight: normal;
	font-size: 19px;
    text-align: center;
    line-height: 24px;
    margin-top: -43px;
}
#contacts .center .conteudo-contacts .group-contacts {
	margin-top: 50px;
}
#contacts .center .conteudo-contacts .link-contacts p {
	font-size: 13px;
}
#contacts .center .conteudo-contacts .link-contacts .endereco-contacts {
	text-align: left;
}
#contacts .center .conteudo-contacts .link-contacts .tel-contacts {
	text-align: right;
}
#contacts .center .conteudo-contacts .link-contacts a {
	color: #2b2b2b;
}
#contacts .center .conteudo-contacts .link-contacts a:hover {
	text-decoration: none;
}
#contacts .center .conteudo-contacts .link-contacts i {
	color: #F27609;
}


@media (max-width: 500px){
	#home {
	    background-position: 32% 10%!important
	}
	#home .center {
		text-align: center;
	    padding-left: 15px;
	    padding-right: 15px;
	}
	#home .center .foto-perfil-desktop{
	    display: none;
	}

	#home .center .text-vertical h2{
		font-size: 50px;
	}
	#about .center .conteudo-about-me {
	    padding-left: 15px;
	    padding-right: 15px;
	}
	#about .center .conteudo-about-me h2 {
		font-size: 40px;
	    line-height: 30px;
	}
	#about .center .conteudo-about-me h4 {
		font-size: 15px;
	    line-height: 24px;
	    margin-top: 10px;
	}
	#about .center .conteudo-about-me .botao {
		display: block;
		margin-bottom: 10px;
	}
	#portfolio .center .conteudo-portfolio {
	    padding-left: 15px;
	    padding-right: 15px;
	}
	#portfolio .center .conteudo-portfolio h2 {
		font-size: 40px;
	    line-height: 30px;
	}
	#portfolio .center .conteudo-portfolio h4 {
		font-size: 15px;
	    line-height: 24px;
	    margin-top: 10px;
	}
	#contacts .center .conteudo-contacts {
	    padding-left: 15px;
	    padding-right: 15px;
	}
	#contacts .center .conteudo-contacts h2 {
		font-size: 40px;
	    line-height: 30px;
	}
	#contacts .center .conteudo-contacts h4 {
		font-size: 15px;
	    line-height: 24px;
	    margin-top: 10px;
	}
	#contacts .center .conteudo-contacts .link-contacts .email-contacts {
		text-align: left;
	}	
	#contacts .center .conteudo-contacts .link-contacts .tel-contacts {
		text-align: left;
	}
}